{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Login - Skillified{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Login</h2>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <hr>
    <h3>Or login using:</h3>
    <div class="button-container mt-4">
        <a href="{% provider_login_url 'google' %}" class="btn-google mx-2"><span class="btn-gradient"><i class="fa fa-google"></i></span><span class="btn-text">Google</span></a>
        <a href="{% provider_login_url 'facebook' %}" class="btn-facebook mx-2"><span class="btn-gradient"><i class="fa fa-facebook"></i></span><span class="btn-text">Facebook</span></a>
        <a href="{% provider_login_url 'linkedin_oauth2' %}" class="btn-linkedin mx-2"><span class="btn-gradient"><i class="fa fa-linkedin"></i></span><span class="btn-text">LinkedIn</span></a>
    </div>
    <div class="mt-4">
        <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a></p>
    </div>
</div>
{% endblock %}