asgiref==3.8.1
cloudinary==1.42.1
crispy-bootstrap5==2024.10
cryptography==41.0.3
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-heroku==0.3.1
gunicorn==23.0.0
iniconfig==2.0.0
pillow==11.1.0
pluggy==1.5.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyJWT==2.10.1
pytest==8.3.4
pytest-django==4.9.0
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.5.3
whitenoise==6.8.2