{% extends 'main/base.html' %}

{% block title %}About - Skillified{% endblock %}

{% block content %}
    <h1>About</h1>
    <br>


<div>
    <h2>Empower Your Growth Together</h2>
    <p>
        Welcome to Skillified, the community-driven platform designed to unlock your potential and foster the sharing of knowledge, skills, and experiences. Whether you're looking to learn something new, share your expertise, or connect with others who share your passion, Skillified is the perfect place to do so.
    </p>
    <h2>Our Mission</h2>
    <p>
        At Skillified, we believe that the exchange of skills and knowledge is the key to personal and collective growth. We aim to create a space where people can come together to learn, teach, and grow. Our platform connects users with diverse backgrounds and expertise, enabling them to offer and participate in skill-sharing sessions that drive both personal development and community engagement.
    </p>
    <h2>Our Values</h2>
    <p>
        Collaboration: The more we share, the more we grow. Skillified is built on the foundation of collaboration, where everyone is both a learner and a teacher.<br><br>
        Inclusivity: We embrace people from all walks of life, backgrounds, and skill levels. Skillified is for everyone, and we’re committed to creating an inclusive, welcoming environment for all users.<br><br>
        Empowerment: By empowering individuals with the skills they need to succeed, we create a more confident and capable community. Whether you're looking to upskill, switch careers, or pursue a passion project, Skillified supports your journey.
    </p>
</div>
{% endblock %}