{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact - Skillified{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<br>

<p>We’d love to hear from you! Whether you have a question, feedback, or need support, feel free to reach out to us. Our
    team is here to help and will respond to your inquiries as quickly as possible.</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}