{% extends 'main/base.html' %}

{% block title %}Events - Skillified{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Events</h2>
    <form method="get" action="{% url 'events' %}" class="mb-3">
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Search events...">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="input-group mb-3">
            <input type="date" name="event_date" class="form-control datepicker" placeholder="Event date">
            <button type="submit" class="btn btn-primary">Filter by Date</button>
        </div>
    </form>
    <!-- Help Icon -->
    <div class="mb-3">
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#helpModal">
            Help <i class="fa-solid fa-question"></i>
        </button>
    </div>

    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Help</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Events added by mentors will display here. Click on "View Event" to see event details and to register for the event.</p>
                    <p>You can search for existing events by using the search box with keywords for the title or description.</p>
                    <p>You can also use the filter by date box to choose a specific event start date.</p>
                    <p>If you are a Mentor and want to create a new event please do so from the skill details page in Mentor Skills.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for event in events %}
        <div class="mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p>{{ event.date_time }}</p>
                    <p class="card-text flex-grow-1">{{ event.overview }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary mt-auto">View Event</a>
                </div>
            </div>
        </div>
        {% empty %}
        There are no events to display. Events can be added by Mentors from the skill details page in the Mentor Skills section.
        {% endfor %}
    </div>
</div>
{% endblock %}