{% extends 'main/base.html' %}

{% block title %}Event Detail - Skillified{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if request.GET.from_skill %}
    <a href="{% url 'skill_detail' request.GET.from_skill %}" class="btn btn-primary mb-5">Back to Skill</a>
    {% endif %}
    <a href="{% url 'events' %}" class="btn btn-primary mb-5">All Events</a>
    <h2>{{ event.title }}</h2>
    <br>
    <p>{{ event.overview }}</p>
    <p><strong>Date and Time:</strong> {{ event.date_time }}</p>
    <form method="post">
        {% csrf_token %}
        {% if is_participant %}
        <button type="submit" name="action" value="unregister" class="btn btn-secondary">Unregister</button>
        {% else %}
        <button type="submit" name="action" value="register" class="btn btn-primary">Register for Event</button>
        {% endif %}
    </form>
    {% if event.owner == request.user %}
    <a href="{% url 'edit_event' event.id %}" class="btn btn-secondary">Edit Event</a>
    <form method="post" action="{% url 'delete_event' event.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Event</button>
    </form>
    {% endif %}
    <h3 class="mt-4">Participants</h3>
    <br>
    <ul>
        {% for participant in event.participants.all %}
        <li>{{ participant.username }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}