{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home - Skillified{% endblock %}

{% block content %}
<div class="container text-center mt-5 mb-5">
    <h1>Learn, Share, Thrive</h1>
    <p>Use Skillified for free as a learner or mentor. Discover and share skills with the community!</p>

    {% if not user.is_authenticated %}
    <h3>Get started today, connect using:</h3>
    <div class="button-container mt-4">
        <a href="{% url 'google_login' %}" class="btn-google mx-2"><span class="btn-gradient"><i class="fa fa-google"></i></span><span class="btn-text">Google</span></a>
        <a href="{% url 'facebook_login' %}" class="btn-facebook mx-2"><span class="btn-gradient"><i class="fa fa-facebook"></i></span><span class="btn-text">Facebook</span></a>
        <a href="{% url 'linkedin_oauth2_login' %}" class="btn-linkedin mx-2"><span class="btn-gradient"><i class="fa fa-linkedin"></i></span><span class="btn-text">LinkedIn</span></a>
        <a href="{% url 'account_login' %}" class="btn-email mx-2"><span class="btn-gradient"><i class="fa fa-envelope"></i></span><span class="btn-text">Email</span></a>
    </div>
    {% endif %}
    <div id="skillsCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/skills/public_speaking.webp' %}" class="d-block w-100" alt="Public Speaking">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Public Speaking</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/web_development.webp' %}" class="d-block w-100" alt="Web Development">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Web Development</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/photography.webp' %}" class="d-block w-100" alt="Photography">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Photography</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/project_management.webp' %}" class="d-block w-100" alt="Project Management">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Project Management</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/painting.webp' %}" class="d-block w-100" alt="Painting">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Painting</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/graphic_design.webp' %}" class="d-block w-100" alt="Graphic Design">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Graphic Design</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/financial_planning.webp' %}" class="d-block w-100" alt="Financial Planning">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Financial Planning</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/cooking.webp' %}" class="d-block w-100" alt="Cooking">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Cooking</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/digital_marketing.webp' %}" class="d-block w-100" alt="Digital Marketing">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Digital Marketing</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/skills/yoga.webp' %}" class="d-block w-100" alt="Yoga">
                <div class="carousel-caption d-none d-md-block top-0">
                    <h5>Yoga</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#skillsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#skillsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}