{% extends 'main/base.html' %}

{% block title %}Mentor Skills - Skillified{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Mentor Skills</h2>

    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Mentor Skills Help</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Users who have registered as mentors will have their skills displayed here. Clicking on "View
                        Skill" will allow any mentor to add an event that users can register for.</p>
                    <p>Only users registered as mentors can add skills from this page.</p>
                    <p>Mentor status can be toggled in the user settings.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <form method="get" action="{% url 'mentor_skills' %}" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search skills...">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    {% if is_mentor %}
    <a href="{% url 'mentor_add_skill' %}" class="btn btn-primary mb-3">Add New Skill</a>
    {% endif %}
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#helpModal">
        Help <i class="fa-solid fa-question"></i>
    </button>
    <div class="row">
        {% for skill in skills %}
        <div class="mb-4"> <!-- Add mb-4 for consistent bottom margin -->
            <div class="card h-100"> <!-- Add h-100 to ensure cards have equal height -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ skill.name }}</h5>
                    <p class="card-text flex-grow-1">{{ skill.description }}</p>
                    <a href="{% url 'skill_detail' skill.id %}" class="btn btn-primary mt-auto">View Skill</a>
                </div>
            </div>
        </div>
        {% empty %}
        No Mentor Skills have been added yet. Only users registered as Mentors can add skills from this page. Mentor
        status can be toggled from the user settings page.
        {% endfor %}
    </div>
</div>
{% endblock %}