{% extends 'main/base.html' %}

{% block title %}Skill Detail - Skillified{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ skill.name }}</h2>
    <p>{{ skill.description }}</p>
    {% if is_mentor %}
    <a href="{% url 'add_event' skill.id %}" class="btn btn-primary mt-3">Add Event</a>
    {% endif %}
    <h3 class="mt-4">Upcoming Events</h3>
    <ul>
        <div class="row">
            {% for event in upcoming_events %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.overview }}</p>
                        <p><strong>Date and Time:</strong> {{ event.date_time }}</p>
                        <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">View Event</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}