body {
    font-family: Arial, sans-serif;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

footer {
    font-size: 10px;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages .error {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

.messages .success {
    color: green;
    background-color: #dfd;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}