/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define CSS variables for colors and fonts */
:root {
    --primary-color: #264b5d;
    --secondary-color: #417690;
    --accent-color: #f5dd5d;
    --background-color: #f9f9f9;
    --text-color: #333;
    --text-light-color: #666;
    --text-dark-color: #000;
    --border-color: #ccc;
    --button-bg-color: #417690;
    --button-text-color: #fff;
    --button-hover-bg-color: #205067;
    --font-family: 'Poppins', sans-serif;
    --title-font-family: 'Oswald', sans-serif;
}

/* Base styles for the body */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-dark-color);
    font-family: var(--title-font-family);
}

/* Link styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

/* Button styles */
button, .btn {
    background-color: #417690;
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .btn:hover {
    background-color: var(--button-hover-bg-color);
}

/* Card component styles */
.card {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%; /* Ensure cards take full width of the column */
    height: 100%; /* Ensure cards take full height of the column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensure content does not overflow the card */
    position: relative; /* Ensure the button is positioned relative to the card */
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
}

.card-text {
    overflow: hidden; /* Ensure content does not overflow the card */
    text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
    max-height: 240px; /* Set a specific pixel cutoff for the content */
}

.card .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Carousel styles */
.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    color: var(--text-light-color);
}

/* Footer styles */
.footer {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    font-size: 10px;
    padding: 20px;
    text-align: center;
    margin-top: auto !important;
}

.footer a {
    color: var(--button-text-color);
}

.footer a:hover {
    color: var(--accent-color);
}

/* Header navigation styles */
header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Message styles */
.messages {
    list-style-type: none;
    padding: 0;
}

.messages .error {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px;
}

.messages .success {
    color: green;
    background-color: #dfd;
    border: 1px solid green;
    padding: 10px;
    margin-bottom: 10px;
}

/* Form styles */
.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: var(--button-hover-bg-color);
}

.input-group .form-control {
    border-radius: 0.25rem;
}

.input-group .btn {
    border-radius: 0.25rem;
    height: 47px;
}